* {
    padding: 0;
    margin: 0;
}
.parents {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #725f5f;
}
.item {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 150px; 
    height: 150px;
    background-color: black;
    transform: translate(-50%, -50%);
}